/* =============== GENERAL CSS =============== */
@font-face {
  font-family: "Averta";
  src: url(../font/AvertaDemoPECuttedDemo-Regular.otf) format("truetype");
}
@font-face {
  font-family: "TeX";
  src: url(../font/tex-gyre-adventor.regular.otf) format("truetype");
}
@font-face {
  font-family: "Tex Bold";
  src: url(../font/tex-gyre-adventor.bold.otf) format("truetype");
}
@font-face {
  font-family: "Cotham Sans";
  src: url(../font/cotham-sans.regular.otf) format("truetype");
}
:root {
  --col-background: #420fe7;
  --col-accent: #eea1be;
  --col-accent2: #8c85f3;
  --col-accent3: #18033c;
  --font-averta: "Averta";
  --font-tex: "TeX";
  --font-texbold: "Tex Bold";
  --font-cotham: "Cotham Sans";
}

::-moz-selection {
  background: var(--col-accent);
}
::selection {
  background: var(--col-accent);
}
p::selection {
  color: var(--col-background);
}
a {
  color: white !important;
  text-decoration: none;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important; /* Firefox 4 */
  -webkit-transition: all 0.5s ease !important; /* Safari and Chrome */
}
a:hover {
  background: var(--col-accent);
}
ul,
ol {
  list-style: none;
}
body {
  font-family: var(--font-averta);
  color: white;
  background-color: var(--col-background);
}
p {
  font-family: var(--font-cotham);
  font-size: 18px;
  color: var(--col-accent2);
}
.fas,
.fab,
.fa,
.far {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 1.7rem;
}
.fa-linkedin {
  border-radius: 0;
}

/* =============== NAV CSS =============== */
.navbar {
  padding-top: 70px;
}
.navbar-brand {
  padding: 0.5rem 0.5rem;
}
.navbar-nav {
  flex-direction: row;
}
.navbar-nav .dropdown-menu {
  position: absolute;
}
.nav-item {
  padding: 0 15px;
}
.nav-item .nav-link {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}
.dropdown-menu {
  background-color: transparent;
  border: 1px solid lightgray;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--col-accent);
}

/* =============== MAIN CSS =============== */
/* Hello */
.heading-mini {
  padding-top: 35px;
  color: var(--col-accent);
  font-size: 1rem;
  line-height: 32px;
  padding-bottom: 25px;
}
.heading-hello span {
  background-color: var(--col-accent);
  font-size: clamp(3.688rem, 1.5412rem + 9.2088vw, 10.75rem);
  color: var(--col-background);
  text-shadow: -1px -1px 0 lightgray, 1px -1px 0 lightgray, -1px 1px 0 lightgray, 1px 1px 0 lightgray;
}
.heading-hello span::selection {
  color: var(--col-accent);
}
.heading-hello {
  font-size: clamp(3.688rem, 2.7192rem + 4.1558vw, 6.875rem);
  line-height: 1.3;
  font-family: var(--font-texbold);
}
/* About */
.content-about {
  padding-bottom: 60px;
}
.left-content-about {
  padding-top: 80px;
  padding-right: 60px;
}
.left-content-about h3 {
  font-family: var(--font-texbold) !important;
  font-size: 28px;
  line-height: 1.7;
}
.left-content-about p {
  padding-top: 25px;
}
.overlay {
  position: relative;
  display: inline-block;
}
.overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(66, 15, 231, 0.5);
}
.right-content-about img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.right-content-about figcaption {
  text-align: center;
}
/* Services */
.content-services {
  padding: 90px 80px 40px;
  background: var(--col-accent);
  pointer-events: none;
}
.content-services,
.content-services a,
.content-services p {
  color: var(--col-accent3);
}
.content-services h1,
.services-item {
  font-family: var(--font-texbold);
}
.services.item p {
  font-family: var(--font-cotham);
}
.content-services h1 {
  font-size: 90px;
  padding-bottom: 30px;
}
.content-services p {
  padding-bottom: 30px;
}
.services-list {
  font-size: 30px;
  list-style: georgian;
  column-count: 2;
}
.services-item {
  padding-bottom: 10px;
}
.services-item p {
  padding: 20px 0 10px;
  margin-left: -30px;
}
/* CV */
.content-cv {
  padding: 40px 30px 0 40px;
}
.content-cv h2 {
  font-family: var(--font-tex);
}
.fa-list-alt {
  font-size: 30px;
}
.content-cv p {
  padding: 30px 0 10px;
}
.btn-resume {
  width: 300px;
  height: 60px;
  color: white;
  background-color: var(--col-background);
  border-color: lightgray;
}
.btn-resume:hover {
  color: white;
  background-color: var(--col-accent3);
  border-color: var(--col-accent3);
}
.btn-resume:active {
  color: white;
  background-color: var(--col-accent3);
  border-color: var(--col-accent3);
}
.btn-resume:focus {
  background-color: var(--col-accent3);
  box-shadow: none;
  border-color: lightgray;
  color: white;
}
/* Exploration */
.content-explore {
  padding: 100px 0;
}
.content-explore h1 {
  /* background-color: var(--col-accent); */
  /* font-size: 172px; */
  font-size: clamp(3.688rem, 1.5412rem + 9.2088vw, 10.75rem);
  color: var(--col-background);
  text-shadow: -1px -1px 0 lightgray, 1px -1px 0 lightgray, -1px 1px 0 lightgray, 1px 1px 0 lightgray;
}
.content-explore h3 {
  padding: 30px 0;
}
.card {
  width: 100%;
  height: auto;
  transition: all 1s ease !important;
  -moz-transition: all 0.5s ease !important; /* Firefox 4 */
  -webkit-transition: all 0.5s ease !important; /* Safari and Chrome */
  /* margin: 0 auto; */
  padding: 30px 20px;
  background-color: transparent;
  border: none;
}
.card-body {
  padding: 0;
}
.card-title {
  padding: 1.5rem 0;
  color: var(--col-accent);
}
.card-text {
  color: white;
  font-size: 23px;
}
.card:hover {
  cursor: pointer;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
}
/* Contact */
.content-contact {
  padding-bottom: 50px;
}
.content-contact h1 {
  font-size: 60px;
}
.content-contact p {
  padding: 15px 0;
}
.fa-envelope {
  font-size: 30px;
}
.box h2 {
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 20px;
}
.copy-box {
  position: relative;
  width: fit-content;
  /* box-sizing: border-box; */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.box-inner {
  position: absolute;
  bottom: 7px;
  text-align: center;
  background-color: rgba(238, 161, 190, 0.2);
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  /* margin-bottom: 0px; */
  /* height: 60px; */
  /* padding: 20px; */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.box-inner p {
  margin: 0 auto;
  color: var(--col-accent3);
}
.copy-box:hover {
  cursor: pointer;
}
.copy-box:hover .box .email-box {
  /* -webkit-transform: scale(1, 0.5);
  -moz-transform: scale(1, 0.5);
  transform: scale(1, 0.5); */
}
.copy-box:hover .box-inner {
  height: 93%;
  background-color: rgba(238, 161, 190, 0.9);
  opacity: 1;
  visibility: visible;
}

/* =============== FOOTER CSS =============== */
footer {
  padding-bottom: 40px;
}
.content-footer {
  text-align: center;
}
strong {
  color: white;
  cursor: pointer;
}
strong:hover {
  color: var(--col-accent);
}
